<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
    <h1>Home Page</h1>
    <p>my first emoji : &#128512;</p>
</head>
<body>
{% for article in articles %}
<article>
    <img src="{{article.thumbnail.url}}" alt="{{article.title}}" width="600" height="400">
    <h1>
        <a href="{{article.slug}}">{{article.title}}</a>
                {{articles.title}}
    </h1>
    <small>
        {{article.publish}}
    </small>
    <p>{{article.description}}</p>
</article>
{% endfor %}
</body>
</html>